* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background: #19707f;
  color: #f7f2e0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 30px 15px;
}

.container {
  max-width: 400px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 8px;
}

.logo h2 {
  font-size: 1.2rem;
  text-transform: lowercase;
  line-height: 1.1;
  font-weight: 600;
}

.logo-icon {
  width: 130px;
}

h1 {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  line-height: 34px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 0.95rem;
  margin-bottom: 15px;
  color: #f6f2e0;
  padding: 0px 30px;
  line-height: 22px;
}

.form-card {
  background: #09434b;
  border-radius: 12px;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.form-card h2 {
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.form-card .desc {
  font-size: 14px;
  line-height: 21px;
  color: #f5f0e2;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.input-group input {
  width: 50%;
}

input {
  background: #03373b;
  border: 1px solid #1d5c62;
  border-radius: 6px;
  padding: 12px;
  color: #f8f3e2;
  font-size: 0.95rem;
}

input::placeholder {
  color: #f8f3e2;
}

.btn {
  margin: auto;
  width: 75%;
  background: #efeedb;
  color: #044048;
  border: none;
  padding: 8px;
  font-weight: 600;
  font-size: 21px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 16px;
}

.btn:hover {
  background: #fff9d8;
  transform: translateY(-1px);
}

.note {
  font-size: 0.8rem;
  color: #f8f3e2;
  margin-top: 15px;
}

@media (max-width: 480px) {
  .input-group {
    flex-direction: column;
  }

  .input-group input {
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .form-card {
    padding: 25px 15px;
  }
}
